:root {
  --main-color: #da190f;
  --bg: #13131a;
  --bg-card: #0c0c14;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5rem;
}

body {
  background: var(--bg);
}

section {
  padding: 2rem 7%;
}

.heading {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  font-size: 4rem;

  & span {
    text-transform: uppercase;
    color: var(--main-color);
  }
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.9rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background: var(--main-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    letter-spacing: 0.2rem;
    color: var(--bg);
  }
}

/* HEADER */
.header {
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;
  border-bottom: var(--border);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;

  & .logo img {
    height: 6.5rem;
    border-radius: 100%;
  }

  & .navbar a {
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #fff;

    &:hover {
      color: var(--main-color);
      border-bottom: 0.1rem solid var(--main-color);
      padding-bottom: 0.5rem;
    }
  }

  & .icons {
    display: flex;
    align-items: center;

    & #menu-btn {
      display: none;
    }

    & div {
      margin-left: 2rem;

      & ion-icon {
        color: #fff;
        cursor: pointer;
        font-size: 2.5rem;

        &:hover {
          color: var(--main-color);
        }
      }
    }
  }
}

/* HOME */
.home {
  position: relative;
  min-height: 85vh;
  display: flex;
  align-items: center;
  background: url(./images/home.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: var(--border);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  & .content {
    max-width: 60rem;
    position: relative;
    z-index: 2;

    & h3 {
      font-size: 6rem;
      text-transform: uppercase;
      color: #fff;
    }

    & p {
      font-size: 2rem;
      font-weight: lighter;
      line-height: 1.8;
      padding: 1rem 0;
      color: #fff;
    }
  }
}
